.idea/
.vscode/
.vs/

*.user
Kemet-Digram.html 
*.bkp
*.dtmp
 


.\Kemet.Application\Interfaces\Services\CRUD_SERVICE_TEMPLATE.cs
.\Kemet.Infrastructure\Migrations\

*..excalidraw


API/**/bin/
API/**/obj/