.idea/
.vscode/
.vs/

*.user
Kemet-Digram.html 
*.bkp
*.dtmp

**/bin/
**/obj/
**/Resources/
Resources/


.\Kemet.Application\Interfaces\Services\CRUD_SERVICE_TEMPLATE.cs
.\Kemet.Infrastructure\Migrations\